.banner{
    background: linear-gradient(97.54deg, #000a33 40.49%, #8364c1 175.37%);
    color: #ffffff;
    text-align: center;
    padding: 40px;
}

.banner__titulo{
    font-size: 40px;
    font-weight: 500;
}

.banner__texto{
    font-weight: 200;
    margin: 1em 0;
}

.banner__button{
    background-color: #ffffff;
    font-weight: 400;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    color: #000000;
}

.banner__img{
    display: none;
}

@media screen and (min-width: 1024px){
    .banner__titulo{
        font-size: 80px;
        font-weight: 500;
        padding: 1px;
    }

    .banner__texto{
        font-size: 20px;
        font-weight: 500;
        margin: 1em 0;
    }

    .banner__button{
        background-color: #ffffff;
        font-weight: 400;
        padding: 20px;
        border-radius: 10px;
        font-size: 20px;
    }

    .banner__img{
        display: unset;
        width: 80%;
        border-radius: 100px;
    }

}